.header__logo {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: -1px;
}

.header__logo strong {
  margin-left: 1px;
  font-size: 1.6rem;
  letter-spacing: normal;
}

.navbar {
  opacity: .97;
}