:root {
  --background-light: #f4f4f4;
  --font-title-gray: #5a5a5a;
}

body {
  background-color: var(--background-light);
}

main {
  margin-top: 70px;
  min-height: 90vh;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
